.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;
    background-image: linear-gradient(to bottom right, white, lightblue);
}

.link__container {
    display: flex;
    gap: 20px;
}

a {
    color: black;
    text-decoration-line: none;
}

.link__container a:hover {
    text-decoration-line: underline;
}

.link__container a.active {
    text-decoration-line: underline;
}
